* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DFKai-sb;
  text-align: center;
}

table {
  border-radius: 5px;
  border-width: 10px;
  border-color: burlywood;
  border-left-style: dashed;
  border-right-style: dashed;
  width: 1000px;
  margin: 30px auto;
}

img {
  width: 500px;
  height: 300px;
}

caption {
  font: bold;
  font-size: 35px;
}

td {
  border-spacing: 2px;
  border-width: 2px;
  height: 40px;
  width: 100px;
}

th {
  border-width: 2px;
  height: 40px;
  color: brown;
  font-weight: bold;
}

.st {
  width: 100px;
}

body {
  background-image: url(./background-with-dog-paw-print-and-bone-vector-2669100.jpg);
}

#name {
  border-bottom: dotted;
}
